<%= bootstrap_form_for(customer, layout: :horizontal) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :title %>

  <%= f.text_field :first_name %>

  <%= f.text_field :middle_name %>

  <%= f.text_field :last_name %>

  <%= f.text_field :position %>

  <%= f.text_field :organization %>

  <%= f.text_field :cell_phone %>

  <%= f.text_field :work_phone %>

  <%= f.text_field :home_phone %>

  <%= f.text_field :fax %>

  <%= f.email_field :email %>

  <%= f.date_select :dob, start_year: Date.today.year - 100, end_year: Date.today.year, label: 'Date of Birth' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
