<%= bootstrap_form_for(customer, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if customer.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</strong>
        <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <%= f.text_field :title %>

  <%= f.text_field :first_name %>

  <%= f.text_field :middle_name %>

  <%= f.text_field :last_name %>

  <%= f.text_field :email %>

  <%= f.date_select :dob, start_year: Date.today.year - 100, end_year: Date.today.year, label: 'Date of Birth' %>

  <%= f.text_field :organization %>

  <%= f.text_field :position %>

  <%= f.text_field :cell_phone %>

  <%= f.text_field :work_phone %>

  <%= f.text_field :home_phone %>

  <%= f.text_field :fax %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
