<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @customer.title %>. <%= @customer.first_name %> <%= @customer.middle_name %> <%= @customer.last_name %></h1>

    <p class="h4"><small><%= @customer.position %> <br/> <%= @customer.organization %></small></p>


    <table class="table">
      <tbody>
        <tr>
          <th>Cell:</th>
          <td><%= @customer.cell_phone %></td>
        </tr>
        <tr>
          <th>Work:</th>
          <td><%= @customer.work_phone %></td>
        </tr>
        <tr>
          <th>Home:</th>
          <td><%= @customer.home_phone %></td>
        </tr>
        <tr>
          <th>Fax:</th>
          <td><%= @customer.fax %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>Birthday:</th>
          <td><%= @customer.dob %></td>
        </tr>

        <tr>
          <th>Addresses:</th>
          <td>
            <% @addresses.each do |address| %>
              <strong><%= address.label %></strong>
              <div class="well">
                <div class="address-controls">
                  <%= link_to 'Edit', edit_customer_address_path(@customer, address), {:class => 'btn btn-sm btn-default'} %>
                </div>
                <address>
                  <%= address.address_1 %> <br>
                  <%= address.address_2 %> <%= raw "<br/>" if address.address_2.length > 0 %>
                  <%= address.city %>, <%= address.state %> <%= address.zip %> <br>
                  <%= address.country %>
                </address>
              </div>
            <% end %>

            <%= link_to 'New Address', new_customer_address_path(@customer) %>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>



<br>




<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
